{% extends 'base/base.html' %}

{% block start %}
<section class="section-content profile padding-y">
	<div class="card sidebar">
		<div class="sidebar-item"><a href="{% url 'profile' %}">Profile</a></div>
		<div class="sidebar-item active"><a href="{% url 'orders' %}">Orders</a></div>
		<div class="sidebar-item"><a href="{% url 'address' %}">Address</a></div>
		<div class="sidebar-item"><a href="{% url 'wishlist' %}">Wishlist</a></div>
		<div class="sidebar-item"><a href="{% url 'logout' %}">Logout</a></div>
	</div>
	<div class="container" style="margin: 2.5px;">
		Karya Pragati Par Hai!
	</div>
</section>
{% endblock %}