{% extends 'base/base.html' %}
{% block start %}

<section class="section-content pt-3 bg">
  	<div class="container">
    	<div class="card">
        	<div class="row no-gutters">
            	<aside class="col-md-6">
								<div class="img-big-wrap" style="height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;">
									<img src="/media/{{product.image}}">
								</div> <!-- slider-nav.// -->
            	</aside>
            	<main class="col-md-6 border-left">
								<article class="content-body">
									<div class="upper_div" style="display: flex;justify-content: space-between;">
										<h2 class="title">{{product.product_name}}</h2>
										{% if wishlist %}
										<div class="icon" style="display: flex;justify-content: center;align-items: center;">
											<a href="{% url 'wishlistRemove' product.uid %}"><i class="fas fa-heart" style="font-size: 32px;color: #ff0000;"></i></a>
										</div>
										{% else %}
										<div class="icon" style="display: flex;justify-content: center;align-items: center;">
											<a href="{% url 'addItemInWishlist' product.uid %}"><i class="fas fa-heart" style="font-size: 32px;color: grey;"></i></a>
										</div>
										{% endif %}
										
									</div>
									<div class="rating-wrap my-3">
										<ul class="rating-stars">
											<li style="width:75%" class="stars-active"> 
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
											</li>
											<li>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
												<i class="fa fa-star"></i> 
											</li>
										</ul>
										<small class="label-rating text-muted">132 reviews</small>
										<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
									</div>
									<div class="mb-3"> 
										<var class="price h4">₹
											{% if updated_price %}
												{{updated_price}}
											{%  else %}
												{{product.price}}
											{% endif %}.00
										</var>
									</div> <!-- price-detail-wrap .// -->
									<p>{{product.product_desc}}</p>
									<dl class="row">
										<dt class="col-sm-3">Model#</dt>
										<dd class="col-sm-9">{{product.model}}</dd>
									</dl>
									<hr>
									<form method="post">
										{% csrf_token %}
										<div class="form-row">
											<div class="form-group col-md flex-grow-0">
												<label>Quantity</label>
												<div class="input-group mb-3 input-spinner">
												<div class="input-group-prepend">
													<button class="btn btn-light" type="button" id="button-plus" onclick="addQuantityVal()"> + </button>
												</div>
												<input type="text" name="quantity" id="quantity_val" class="form-control" value="1">
												<input type="hidden" name="uid" value="{{product.uid}}">
												<div class="input-group-append">
													<button class="btn btn-light" type="button" id="button-minus" onclick="subQuantityVal()"> − </button>
												</div>
												</div>
											</div> <!-- col.// -->
										</div> <!-- row.// -->
					
									<a href="{% url 'checkout' product.uid %}" class="btn  btn-primary"> Buy now </a>
									<button type="submit" class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
									</form>
								</article> <!-- product-info-aside .// -->
            	</main> <!-- col.// -->
        	</div> <!-- row.// -->
    	</div> <!-- card.// -->
	</div>
</section>

    <script>
      function getCorrectPrice(size){
        window.location.href = window.location.pathname + `?size=${size}`
      }
      function addQuantityVal(){
		let val = $('#quantity_val').val()
		$('#quantity_val').val(parseInt(val)+1)
      }
      function subQuantityVal(){
		let val = $('#quantity_val').val()
		if (parseInt(val) > 1){
			$('#quantity_val').val(parseInt(val)-1)
		}
				
      }
    </script>

{% endblock %}